.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('/assets/images/menu.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loadingScreen h1 {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #c00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.main-container {
    height: 100vh;
    background: url('/assets/images/menu.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 48px;
    padding: 48px;
    height: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 16px;
    }
}

.start-button {
    width: 100%;
    background: linear-gradient(45deg, #C71515, #FF4500);
    border-radius: 12px;
    border: 3px solid #FFD700;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 8px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(255, 69, 0, 0.8);
    transition: all 0.3s ease-in-out;
    text-shadow: 2px 2px 5px black;
}

.start-button:hover {
    background: linear-gradient(45deg, #FF4500, #C71515);
    border-color: #FFEA00;
    box-shadow: 0px 0px 25px rgba(255, 69, 0, 1);
    transform: scale(1.15);
}

.start-button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.8);
}