.background {
    height: 100vh;
    background: url('/assets/images/battlefields/battleback3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animation {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    transform-origin: left bottom;
    opacity: 0;
}

.animate {
    animation: attackAnim 0.8s ease forwards;
}

@keyframes attackAnim {
    0% {
        transform: translate(-50%, -50%) rotate(-30deg);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) rotate(70deg);
        opacity: 1;
    }
}